{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% load static %}



{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}

{% block header %}Введите новый пароль{% endblock %}

{% block content %}
    {% if validlink %}
    {% load update_widgets %}

    <div class="form-container">
        <form class="form" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_labels }}" class="form__label" >
                    {{ field.label }}
                </label>
                <div class="form__field-group">
                    {{ field|form_input }}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}

            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Назначить новый пароль</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="custom-center-block">
        <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
    </div>

    {% endif %}

{% endblock %}