{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% load static %}



{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}

{% block header %}Сброс пароля{% endblock %}

{% block content %}
    {% load update_widgets %}

    <div class="form-container">
        <form class="form" method="post">{% csrf_token %}
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_labels }}" class="form__label" >
                    {{ field.label }}
                </label>
                <div class="form__field-group">
                    {{ field|form_input }}
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}

            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Сбросить пароль</button>
            </div>
        </form>
    </div>


{% endblock %}